<section>
  {{#if signedIn}}
  <h1 class="main__title">Hello there, {{username}} <a href="/logout">To logout</a></h1>
{{!-- 
  <div class="contentContainer"> --}}

    <div class="twitter boxContainer">
      <label class="twitter tweetHeader">Compose new Tweet</label>
      <span class="close"></span>
      <div class="lineSplit"></div>
      <textarea class="messageBox" id="postMessage" placeholder="What's happening?"></textarea>
      <label class="wordCounter" id="wordCounter">140</label>
      <input type="button" class="postButton" id="submitPost" value="Tweet" />
    </div> 
 
    <div id="app" class="columns">
      <div class="column"> 

        {{#each tweet}}
        <div class="tweet">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure >
                  <img src={{this.img}} alt="Image">
                </figure>
              </div>
              <div>
                <div class="content">
                  <p>
                    <strong>{{this.name}}</strong> <small>{{this.handle}}</small>
                    <i class="icon-trash" float= "right"></i>
                    <br>
                    {{this.tweet}}
                  </p>
                </div>
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="icon-heart" style=" color: red;" pull="left"></i></span>
                    <span class="likes">{{this.likes}}</span>
                    <span class="icon is-small"><i class="icon-comment"></i></span>
                    </i>
                    <span class="likes">{{this.commentsNumber}}</span>
                  </a>
                </div>
                
                <div class="commentsBoxContainer ">
                  <label class="twitter commentsTweetHeader">Compose new comment</label>
                  
                  <div class="lineSplit"></div>
                  <textarea class="commentsMessageBox" id="postMessage" placeholder="What's happening?"></textarea>
                  <input type="button" class="commentsPostButton" id="submitPost" value="Tweet" />
                </div>
              </div>
            </article>
          </div>
        </div>
        {{/each}}
      </div>
    </div>






  {{else}}
  <h1 class="main__title">Welcome to sort is best</h1>



  {{/if}}
</section>